---
layout: layout.liquid
title: My Everyday Carry
---

<h1>My Everyday <strong>Carry</strong></h1>

<div class="items-grid">
  {% itemCard "Keys", "/images/keys.jpg", "/keys/" %}
  {% itemCard "3DS", "/images/3ds.jpg", "/3ds/" %}
  {% itemCard "Burt's Bees Chapstick", "/images/chapstick.jpg", "/chapstick/" %}
</div>